{{ form_start(form) }}
<div class="col-md-12 mb-5">

    <div class="row form-group">
        <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="fname">Nom</label>


            {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-primary btn-md text-white">
            </div>
        </div>

        {{ form_end(form) }}
